.audio-visualizer-wrapper {
  margin-top: 5px;
  background-color: #2D3748;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4A5568;
}

.audio-visualizer-wrapper canvas {
  display: block;
}
